{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "transform": {
            "decoratorMetadata": true,
            "legacyDecorator": true
        },
        "target": "esnext",
        "experimental": {
            "plugins": [["swc_mut_cjs_exports", {}]]
        }
    },
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": true
}
