name: CI
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: 'yarn'
    - name: Install modules
      run: yarn
    - name: Build
      run: yarn run build
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: 'yarn'
    - name: Install modules
      run: yarn install --frozen-lockfile
    - name: Run linter
      run: yarn run lint:check
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: 'yarn'
    - name: Install modules
      run: yarn install --frozen-lockfile
    - name: Run formatter
      run: yarn run format:check
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: 'yarn'
    - name: Install modules
      run: yarn install --frozen-lockfile
    - name: Get number of CPU cores
      id: cpu-cores
      uses: SimenB/github-actions-cpu-cores@v2
    - name: Run tests
      run: yarn run test --max-workers ${{ steps.cpu-cores.outputs.count }}
